<h3>All Exhibits</h3>


  <% @exhibits.each_with_index do |exhibit,index| %>
<div>
----- <br>
<b>Exhibit <%= index+1 %><br></b>
Name: <%= link_to exhibit.name, exhibit_path(exhibit)  %><br>
Origin:  <%= exhibit.origin  %><br>
Age:  <%= exhibit.age  %><br>
Material:  <%= exhibit.material %><br>
Culture:  <%= exhibit.culture %><br>
Exhibit Type:  <%= exhibit.exhibit_type  %><br>
Description:  <%= exhibit.description  %><br>
Creator:  <%= exhibit.user.username%><br><br>

Transit Status: <%= exhibit.transit_status_id  %><br>
Open Date:  <%= exhibit.open_date.strftime("%b %d, %Y") %><br>
Close Date:  <%= exhibit.close_date.strftime("%b %d, %Y")  %><br>
</div>
  <% end %>


<div style="display: inline-block;"><%= link_to "View all Museums", museums_path %></div>
<div style="display: inline-block;"><%= link_to "View all Exhibits", exhibits_path %></div>
<div style="display: inline-block;"><%= link_to "Add a New Exhibit", new_exhibit_path %></div>
<div style="display: inline-block;"><%= link_to "Back to Menu", user_path(current_user) %></div>
