<h3>Exhibit List</h3>

<div style="display: inline-block;"><%= link_to "Add a New Exhibit", new_exhibit_path %></div> <br>
<div style="display: inline-block;"><%= link_to "Back to Menu", user_path(current_user) %></div> <br>

  <% @exhibits.each_with_index do |exhibit,index| %>
<div>
----- <br>
<b>Exhibit <%= index+1 %><br></b>
Name: <%= link_to exhibit.name, exhibit_path(exhibit)  %><br>
Origin:  <%= exhibit.origin  %><br>
Age:  <%= exhibit.age  %><br>
Material:  <%= exhibit.material %><br>
Culture:  <%= exhibit.culture %><br>
Exhibit Type:  <%= exhibit.exhibit_type  %><br>
Description:  <%= exhibit.description  %><br><br>

Transit Status: <%= exhibit.transit_status.status  %><br>
Open Date:  <%= exhibit.open_date.strftime("%b %d, %Y") %><br>
Close Date:  <%= exhibit.close_date.strftime("%b %d, %Y")  %><br><br>

Poster:  <%= exhibit.user.username%><br>
</div>
  <% end %>
