<h4>Editing <%=@user.username%>'s Profile</h4>

   <%= form_for @user do |f| %>

     <%= f.label :username %>
     <%= f.text_field :username %>

     <%= f.label :email %>
     <%= f.email_field :email %>

     <%= f.label :password %>
     <%= f.password_field :password %>

     <%= f.submit "Update" %>

   <% end %>

<div style="display: inline-block;"><%= link_to "View all Museums", museums_path %></div>
<div style="display: inline-block;"><%= link_to "View all Exhibits", exhibits_path %></div>
<div style="display: inline-block;"><%= link_to "Add a New Exhibit", new_exhibit_path %></div>
