<h4> Logged in as <%=@user.username%></h4>

<h4><%= link_to "View Current User's Exhibits", user_exhibits_path(@user) %></h4>

  <h5><%=@user.username%>'s Recently Arrived Exhibits</h5>
    <%@user.exhibits.arrived.each do |exhibit| %>
    <%=exhibit.museum.museum_name%> - <%=exhibit.name%><br><br>
  <%end%>

  <% if current_user.id == @user.id %>
  <%= link_to "Edit Profile", edit_user_path %><br>
  <% end %>
