<h4> Logged in as <%=@user.username%></h4>

<h4><%= link_to "View Current User's Exhibits", user_exhibits_path(@user) %></h4>
----
  <h5><b>Recently Arrived Exhibits</b></h5>
    <%@exhibits.arrived.each do |exhibit| %>
    <%=exhibit.museum.museum_name%> - <%=link_to exhibit.name, exhibit_path(exhibit) %><br><br>
  <%end%>

  <% if current_user.id == @user.id %>
  <%= link_to "Edit Profile", edit_user_path %><br>
  <% end %>
