<h4><%=@user.username%>'s Latest Exhibits</h4>

  <% @user.exhibits.each do |exhibit| %>
      <p><%= exhibit.name %><p>
  <% end %>




<div>
    <div style="display: inline-block;"><%= link_to "View all Museums", museums_path %></div>
    <div style="display: inline-block;"><%= link_to "View all Exhibits", exhibits_path %></div>
    <div style="display: inline-block;"><%= link_to "Add a New Exhibit", new_exhibit_path %></div>
</div>
