<h4><%=@user.username%>'s 5 Latest Exhibits</h4>

  <% @user.exhibits[0..5].each do |exhibit| %>
      <p><%= link_to exhibit.name, exhibit_path(exhibit) %><p>
  <% end %>

  <h5><%=@user.username%>'s Recently Arrived Exhibits</h5>
    <%@user.exhibits.arrived.each do |exhibit| %>
    <%=exhibit.museum.museum_name%> - <%=exhibit.name%><br>
  <%end%>

<div>
    <div style="display: inline-block;"><%= link_to "Add a New Exhibit", new_exhibit_path %></div>
</div>
