<%= form_for @museum do |f| %>
<%= f.hidden_field :user_id, :value=> session[:user_id] %>

<%= render :partial => 'shared/error_messages', :locals => {:model => @museum} %>

    <% if @museum.errors[:museum_id].empty? %>
      <div class="wrapper">
    <% else %>
      <div class="field_with_errors">
    <% end %>
    </div>

    <% if @museum.errors[:city].empty? %>
      <div class="wrapper">
    <% else %>
      <div class="field_with_errors">
    <% end %>
    <%= f.label :city %>
    <%= f.text_field :city %><br>
    </div>

    <% if @museum.errors[:country].empty? %>
      <div class="wrapper">
    <% else %>
      <div class="field_with_errors">
    <% end %>
    <%= f.label :country %>
    <%= f.text_field :country %><br>
      </div>

    <% if @museum.errors[:museum_name].empty? %>
      <div class="wrapper">
    <% else %>
      <div class="field_with_errors">
    <% end %>
    <%= f.label :museum_name %>
    <%= f.text_field :museum_name %><br>
    </div>

    <%= f.submit "Submit" %>

<% end %>
