<h3>Museum List</h3><br>

<div class="most-exhibits" style="text-align:center">
Museum with most exhibits : <%= @top_museum.museum_name %>
</div>

<table align="center">
  <tr>
    <th>Museum Name</th>
    <th>City</th>
    <th>Country</th>
  </tr>

  <% @museums.each do |museum| %>

  <tr>
    <td><%= link_to museum.museum_name, museum_path(museum)%></td>
    <td><%=museum.city%></td>
    <td><%=museum.country%></td>
  </tr>
  <% end %>
</table><br>


<%= link_to "View all Exhibits", exhibits_path %> <br>
<%= link_to "Back to Menu", user_path(current_user) %> <br>
