<h3>Museums:</h3><br>
Museum with most exhibits : <%= @top_museum.museum_name %>

<table>
  <tr>
    <th>Museum Name</th>
    <th>City</th>
    <th>Country</th>
  </tr>

  <% @museums.each do |museum| %>

  <tr>
    <td><%= link_to museum.museum_name, museum_path(museum)%></td>
    <td><%=museum.city%></td>
    <td><%=museum.country%></td>
  </tr>
  <% end %>
</table>


<%= link_to "View all Exhibits", exhibits_path %> <br>
<%= link_to "Back to Menu", user_path(current_user) %> <br>
