<h3><%= @museum.museum_name %></h3>

City: <%= @museum.city %><br>
Country: <%= @museum.country %><br>
<br>
<p>Number of exhibits in this museum: <%=@count_exhibits%></p>

<% @exhibits.each_with_index do |exhibit,index| %>

----- <br>
<b>Exhibit <%= index+1 %><br></b>
Name: <%= link_to exhibit.name, exhibit_path(exhibit)  %><br>
<% end %>
<br>
<%= link_to "Back to Museums", museums_path %>
